@using Ruse2023.Models.Shopping;
@model List<ShoppingApprovalModel>

<div class="list-group">
    @foreach (var app in Model)
    {
        <p class="list-group-item list-group-item-action">
            @app.Description | <a asp-action="Details" asp-controller="Shopping" asp-route-id="@app.Id">Details</a>
        </p>
    }
</div>