@{
    Layout = "";
}@using Ruse2023.Models.Moderator;
@model ApplicationDeclineModel

<form id="account" method="post">
    <label asp-for="@Model.Feedback"></label>
    <input asp-for="@Model.Feedback" class="form-control" />
    <span asp-validation-for="@Model.Feedback" class="text-danger"></span>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <button type="submit" class="btn btn-warning">Decline</button>
    </div>
</form>