@{
    Layout = "";
}@using Ruse2023.Models.Moderator;
@model IEnumerable<ApplicationApprovalModel>

<div class="list-group">
    @foreach (var application in Model)
    {
        <p class="list-group-item list-group-item-action">
            @application.FirstName @application.LastName - @application.Email |
            <a asp-action="ApplicationDetails" asp-controller="Moderator" asp-route-id="@application.Id"> Details </a>
            @if (application.Approved)
            {
                <a>Approved</a>
            }
            else
            {
                <a>Declined</a>
            }
        </p>
    }
</div>