@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}
@model HomePageModel

<html>
<head>
    <title>EcoWay</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="css/treeplant.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="landing is-preload">

    <div id="logo">
        <img src="~/images/Screenshot_20231027_101853_Chrome-removebg.png" style="width: 70px; height:70px;" />
    </div>

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="index.html">EcoWay</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-action="Index" asp-controller="Store">Магазин</a></li>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-action="Register" asp-controller="Account">Sign Up</a></li>
                                    <li><a asp-action="Login" asp-controller="Account">Log In</a></li>
                                }
                                else
                                {
                                    <li><a asp-action="Profile" asp-controller="Account">Account</a></li>
                                    <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>   
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>EcoWay</h2>
                <p>
                    Започни<br />
                    промяната<br />
                    с EcoWay
                </p>
            </div>
            <a href="#two" class="more scrolly">Научи повече</a>
        </section>

        <!-- One -->
        <section id="one" class="wrapper style1 special">
            <div class="inner">
                <header class="major">
                    <h2>
                        Рециклирането по нов иновативен начин!<br>
                        Ние сме EcoWay!<br />
                        Тук сме за да помогнем на хората да започнат по-екологичен начин на живот.
                    </h2>
                    <p>
                        <br />

                    </p>
                </header>
                <ul class="icons major">
                    <li><span class="icon fa-map major style1"><span class="label">Lorem</span></span></li>
                    <li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
                    <li><span class="icon solid fa-code major style3"><span class="label">Dolor</span></span></li>
                </ul>
            </div>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper alt style2">
            <section class="spotlight">
            </section>
            <section class="spotlight">
                <div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
                    <h2>
                        <a asp-action="Create" asp-controller="Shopping" class="button fit primary">Екологично пазаруване</a>
                        <br />

                    </h2>
                    <p>
                      Покажете ни вашите продукти с марка еко на тях<br> 
                         и получете награди за всеки един от тях!
                    </p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
                    <h2>
                        <a asp-action="Create" asp-controller="TreePlant" class="button fit primary">Засади дърво</a>
                        <br />
                    </h2>
                    <p>
                        Засадете дърво и помогнете за озенеляването на нашата планета.<br>
                        Всяко действие е от значение.<br />
                        Получавате награда за виште усилия!
                    </p>
                </div>
            </section>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper style3 special">
            <div class="inner">

                <header class="major">
                    <h2></h2>
                    <p>
                        <br />

                    </p>
                </header>
                <ul class="features">
                    <li class="icon fa-paper-plane">
                        <h3></h3>
                        <p id="users">
                            
                        </p>
                    </li>
                    <li class="icon solid fa-laptop">
                        <h3></h3>
                        <p>

                        </p>
                    </li>
                    <li class="icon solid fa-code">
                        <h3></h3>
                        <p></p>
                    </li>
                    <li class="icon solid fa-headphones-alt">
                        <h3></h3>
                        <p></p>
                    </li>
                    <li class="icon fa-heart">
                        <h3></h3>
                        <p></p>
                    </li>
                    <li class="icon fa-flag">
                        <h3></h3>
                        <p> </p>
                    </li>
                </ul>
            </div>
        </section>

        <!-- CTA -->
        <section id="cta" class="wrapper style4">
            <div class="inner">
                <header>
                    <h2></h2>
                    <p></p>
                </header>
                <ul class="actions stacked">
                    <li><a asp-action="Index" asp-controller="Store" class="button fit primary">Магазин</a></li>
                    <li><a href="#" class="button fit">Засади дърво</a></li>
                </ul>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
            </ul>
            s
        </footer>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>

<style>
    #id {
        text-align: center;
    }

    html {
        scroll-behavior: smooth;
    }

    .products {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 92%;
    }

    #image {
        width: 50px;
        height: 90px;
    }

    #butona {
        width: 60%;
        height: 40px;
        font-size: 20px;
        display: flex; /* this enables the flexbox model */
        align-items: center; /* this vertically aligns the text in the middle */
        justify-content: center;
    }

    #form {
        border: 2px solid;
        border-radius: 25px;
        padding: 20px;
    }

    /* klient*/
    .klient {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 92%;
    }

    #logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
    }

    #snimkanaklient {
        width: 50px;
        height: 50px;
    }

    * {
        margin: 0;
        padding: 0;
    }

</style>

@section Scripts{
    <script>
        $.get('/api/getApplicationsStats', (data) => {
            $('#users').text(data.users);
            $('#plantedTrees').text(data.plantedTrees);
            $('#shopping').text(data.ecoShopping);
            $('#creditsRewarded').text(data.creditsRewarded);
            console.log(data.Success);
        });
    </script>
}
