@{
    Layout = "";
}@using Ruse2023.Models.TreePlant;
@model TreePlantApplicationModel
<head>
    <meta charset="UTF-8">
    <title>CodePen - Contact Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://demo.voidcoders.com/htmldemo/fitgear/main-files/assets/css/animate.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/treeplantCss.css">
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="css/treeplant.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="landing is-preload">
    <header id="header" class="alt">
        <div id="page-wrapper">
            <h1><a href="index.html">EcoWay</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-action="Index" asp-controller="Store">Магазин</a></li>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-action="Register" asp-controller="Account">Sign Up</a></li>
                                    <li><a asp-action="Login" asp-controller="Account">Log In</a></li>
                                }
                                else
                                {
                                    <li><a asp-action="Profile" asp-controller="Account">Account</a></li>
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
            
        </header>

    <section class="contact-page-section">
        <div class="container">
            <div class="sec-title">
                <div class="title">Contact Us</div>
                <h2 style="color: lightgrey">Let's Get in Touch.</h2>
            </div>
            <div class="inner-container">
                <div class="row clearfix">
                    <div class="form-column col-md-8 col-sm-12 col-xs-12">
                        <div class="inner-column">
                            <div class="contact-form">
                                <form method="post" id="contact-form" enctype="multipart/form-data">
                                    <div class="row clearfix">
                                        <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                            <label asp-for="@Model.Image" class="form-label">Image</label>
                                            <input asp-for="@Model.Image" class="form-control" type="file" id="formFileMultiple" multiple />
                                            <span asp-validation-for="Image" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                            <label style="color: black" asp-for="Description"></label>
                                            <textarea asp-for="Description" placeholder="Description" ></textarea>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                            <button type="submit" class="theme-btn btn-style-one">Send Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="info-column col-md-4 col-sm-12 col-xs-12">
                        <div class="inner-column">
                            <h2>Contact Info</h2>
                            <ul class="list-info">
                                <li><i class="fas fa-globe"></i>123 lorem ispum Abc, Street Chandigarh.</li>
                                <li><i class="far fa-envelope"></i>example@test</li>
                                <li><i class="fas fa-phone"></i>1-234-567-890 <br> 1-234-567-890</li>
                            </ul>
                            <ul class="social-icon-four">
                                <li class="follow">Follow on: </li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src='https://code.jquery.com/jquery-2.1.0.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>

<style>
    #id {
        text-align: center;
    }

    html {
        scroll-behavior: smooth;
    }

    .products {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 92%;
    }

    #image {
        width: 50px;
        height: 90px;
    }

    #butona {
        width: 60%;
        height: 40px;
        font-size: 20px;
        display: flex; /* this enables the flexbox model */
        align-items: center; /* this vertically aligns the text in the middle */
        justify-content: center;
    }

    #form {
        border: 2px solid;
        border-radius: 25px;
        padding: 20px;
    }

    /* klient*/
    .klient {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 92%;
    }

    #logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
    }

    #snimkanaklient {
        width: 50px;
        height: 50px;
    }

    * {
        margin: 0;
        padding: 0;
    }

</style>

