@using Ruse2023.Models.Shopping;
@model ShoppingApprovalModel

<form method="post">

    <h2>@Model.Description</h2>
    <img src="@Model.Image" />
    <input type="number" asp-for="Credits"/>
    <input type="hidden" asp-for="UserId"/>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Apply</button>
    </div>
    <div class="form-group">
        <a asp-action="Decline" asp-controller="Shopping" asp-route-id="@Model.Id" class="btn btn-warning">Decline</a>
    </div>
</form>